<script type="text/javascript">
	mixpanel.track("View Events", {
		"Team Name": "<%= @team_name %>"
	});
</script>
<div>
	<div>
		<h1><%= "#{Time.now.year} #{@team_name} Schedule" %></h1>
		<table class="table table-sriped">
			<thead>
				<th>Event</th>
				<th>Date and Time</th>
				<th>Venue</th>
				<th>Price</th>
				<th>&nbsp</th>
			</thead>
			<tbody>
			<% @events.each do |event| %>
			<tr>
				<td><strong><%= event_link(event.name, event.event_id, event.date) %></strong></td>
				<td>
					<%= event.date.localtime.strftime("%a %b %-d, %Y") %><br />
					<%= event.date.localtime.strftime("%-I:%M %p") %>
				</td>
				<td>
					<%= "#{event.venue}" %><br />
					<%= "#{event.city}, #{event.state}" %></td>
				<td>
					From 
					<% if event.min_ticket_price.blank? %>
						<%= number_to_currency(Random.rand(15) + 1, :precision => 0) %>
					<% else %>
						<%= number_to_currency(event.min_ticket_price, :precision => 0) %>
					<% end %>
				</td>
				<td><%= event_link(event.name, event.event_id, event.date, "button") %></td>
			</tr>
			<% end -%>
			</tbody>
		</table>
	 </div>
</div>
