<script type="text/javascript">
	var event_name = "<%= @event.name %>"; 
	var event_date = "<%= @event.date.localtime.strftime("%a %b %-d, %Y") %>";
	var event_id = "<%= params[:event_id] %>";
	var team_name = "<%= @team_name %>";
	
	mixpanel.track("View Tickets", {
		"Team Name": team_name,
		"Event Name": event_name,
		"Event Date": event_date
	});
</script>
<div>
	<div>
		<h1><%= "Tickets to the #{@event.name}" %></h1>
		<h2>
			<%= @event.date.localtime.strftime("%a %b %-d, %Y") %> at
			<%= @event.date.localtime.strftime("%-I:%M %p") %>
		</h2>
		<div id="price-filter" class="well span4">
			<%= content_tag "div", id: "price-label", data: {min_price: @min_price, max_price: @max_price} do %>
				<p id="amount">Price Range</p>
			<% end %>
			<div id="slider"></div>
		</div>
		<table id="products-table" class="table">
			<thead>
				<th>Section</th>
				<th>Row</th>
				<th>Price per Ticket</th>
				<th>Quantity</th>
				<th>&nbsp</th>
			</thead>
			<tbody>
			<% @tickets[:ticket_group].each do |ticket| %>
			<tr class="ticket" id=<%= "#{ticket[:id]}" %>>
				<td><%= "#{ticket[:section]}" %></td>
				<td><%= "#{ticket[:row]}" %></td>
				<td class="price">$<span><%= "#{ticket[:actual_price]}" %></span></td>
				<td><%= if ticket[:valid_splits][:int].length == 1
					select("ticket", "quantity", ticket[:valid_splits][:int].split)
				else
					select("ticket", "quantity", ticket[:valid_splits][:int].sort)
				end %>
				</td>
				<td><%= get_checkout_link(ticket[:event_id],ticket[:id],ticket[:actual_price],2) %></td>
			</tr>
			<% end -%>
			</tbody>
		</table>
	 </div>
</div>
<!-- Google Code for Add to Cart Conversion Page -->
<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 1004804232;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "OhI8CMiwmgQQiLGQ3wM";
	var google_conversion_value = 0;
	/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
	<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1004804232/?value=0&amp;label=OhI8CMiwmgQQiLGQ3wM&amp;guid=ON&amp;script=0"/>
	</div>
</noscript>

